html {
  scroll-behavior: smooth;
}

/* Selection color */
::selection {
  background: rgba(183, 158, 124, 0.25);
  color: #151515;
}

/* Remove default button styles */
button {
  cursor: none;
}

a {
  cursor: none;
}

/* Smooth image rendering */
img {
  -webkit-font-smoothing: antialiased;
  image-rendering: -webkit-optimize-contrast;
}
